<h1>Elige un local</h1>

<div *ngFor="let store of stores">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{store.name}}</mat-card-title>
      <mat-card-subtitle>{{store.phone}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
<p>{{store.address}}</p>
      <p>{{store.status}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="cargarProductos(store.id)">Ir</button>
      <button mat-button routerLink="/store">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="products">
  @for (product of products; track $index) {
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: bolder;">{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="product.images" mat-card-image src="{{product.images[0]}}" alt="{{product.description}}">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="4:1">
          
          <div *ngIf="product.type == 'tshirt'">
            <mat-grid-tile> talla: {{product.size}}</mat-grid-tile>
            <mat-grid-tile> color: {{product.color}}</mat-grid-tile>
          </div>
          <div *ngIf="product.type == 'book'">
            <mat-grid-tile> isbn: {{product.isbn}}</mat-grid-tile>
            <mat-grid-tile> author: {{product.author}}</mat-grid-tile>
          </div>
          <mat-grid-tile> disponibles: <mat-chip>{{product.stock}}</mat-chip> </mat-grid-tile>
          <mat-grid-tile> Estado: <mat-chip class="primary-chip">{{product.status}}</mat-chip></mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-button>Editar</button>
        <button mat-button>Encargar</button>
      </mat-card-actions>


    </mat-card>
  }
</div>

<form [formGroup]="storeFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address">
    </mat-form-field> 
    <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
            <mat-option *ngFor="let stat of status" [value]="stat">{{ stat }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!storeFormGroup.valid">Crear Local</button>

</form>