.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
}

.producPrice{
    margin: auto;
    color: #7a7a7a;
    font-size: medium;
    font-weight: bold;

}