<h1>Angular Router App</h1>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title.toUpperCase()}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<h1>Elige un local</h1>

<div *ngFor="let store of stores">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{store.name}}</mat-card-title>
      <mat-card-subtitle>{{store.phone}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{store.address}}</p>
      <p>{{store.status}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="cargarProductos(store.id)">Ir</button>
      <button mat-button routerLink="/store">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="products">
  @for (product of products; track $index) {
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: bolder;">{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="product.images" mat-card-image src="{{product.images[0]}}" alt="{{product.description}}">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="4:1">
          
          <div *ngIf="product.type == 'tshirt'">
            <mat-grid-tile> talla: {{product.size}}</mat-grid-tile>
            <mat-grid-tile> color: {{product.color}}</mat-grid-tile>
          </div>
          <div *ngIf="product.type == 'book'">
            <mat-grid-tile> isbn: {{product.isbn}}</mat-grid-tile>
            <mat-grid-tile> author: {{product.author}}</mat-grid-tile>
          </div>
          <mat-grid-tile> disponibles: <mat-chip>{{product.stock}}</mat-chip> </mat-grid-tile>
          <mat-grid-tile> Estado: <mat-chip class="primary-chip">{{product.status}}</mat-chip></mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-button>Editar</button>
        <button mat-button>Encargar</button>
      </mat-card-actions>


    </mat-card>
  }
</div>
<router-outlet></router-outlet>